#background_body {
	width: 90%;
	height: 420px;
	margin:auto;
	margin-top: 20px;
	background-color: #FFF;
	-webkit-box-shadow: #FFF 1px 1px 8px;
}

.menu_item {
	color: #FFF;
	margin-left: 8px;
	font-size: 10px;
}

.menu_item:first-child {
	margin-top: 10px;
}

#l2_h, #l3_h, #l4_h, #l5_h {
	color: #FFF;
	margin: 5px 0px 10px 10px;
	text-align: left;
}

h1 {
	color: #F60;
	padding-top: 5px
}

#l2_title, #l3_title, #l4_title, #l5_title {
	color: #F60;
	padding-top: 20px
}

img[src="images/your_logo.png"] {
	margin: 5px 0px 15px 18px;
}

#l2_header > img, #l3_header > img, #l4_header > img, #l5_header > img {
	position: absolute;
}

#l3_footer > p, #l4_footer > p, #l5_footer > p {
	color: #FFF;
	text-align: center;
	font-size: 10px;
	margin-top: 8px;
}

/* Layout 1 */

#l1_wrapper, #default_wrapper {
	width: 75%;
	height: 418px;
	margin: auto;
	border: 1px solid #000;
	-webkit-box-shadow: #CCC 1px 1px 8px;
}

#l1_left_column, #default_left_column {
	width: 20%;
	height: 418px;
	float: left;
	background-color: #999;
}

#l1_main_column, #default_main_column {
	width: 80%;
	height: 418px;
	float: left;
	background-color: #CCC;
}

#l1_h, #default_h {
	text-align: left;
	margin: 15px 0px 10px 10px;
	color: #FFF;
}

#l1_left_column > p:first-child, #default_left_column > p:first-child {
	margin-top: 80px;
}

/* Layout 2 */

#l2_wrapper {
	width: 75%;
	height: 418px;
	margin: auto;
	border: 1px solid #000;
}

#l2_header {
	width: 100%;
	height: 80px;
	background-color: #333;
}

#l2_left_column {
	width: 20%;
	height: 338px;
	float: left;
	background-color: #999;
}

#l2_main_column {
	width: 80%;
	height: 338px;
	float: left;
	background-color: #CCC;
}

/* Layout 3 */

#l3_wrapper {
	width: 75%;
	height: 418px;
	margin: auto;
	border: 1px solid #000;
}

#l3_header {
	width: 100%;
	height: 80px;
	background-color: #333;
}

#l3_left_column {
	width: 20%;
	height: 306px;
	float: left;
	background-color: #999;
}

#l3_main_column {
	width: 80%;
	height: 306px;
	float: left;
	background-color: #CCC;
}

#l3_footer {
	width: 100%;
	height: 32px;
	float: left;
	background-color: #333;
}

/* Layout 4 */

#l4_wrapper {
	width: 75%;
	height: 418px;
	margin: auto;
	border: 1px solid #000;
}

#l4_header {
	width: 100%;
	height: 80px;
	background-color: #333;
}

#l4_menu_bar {
	width: 100%;
	height: 22px;
	float: left;
	background-color: #666;
}

#l4_menu_bar > ul {
	list-style-type:none; 
	margin:0; 
	padding:0;
	margin-top: 4px;
	margin-left: 80px;
}

#l4_menu_bar li {
	border:1px solid #ccc;
	background-color: #F60; 
	display:inline;
	height: 14px;
	font-size: 10px;
}

#l4_menu_bar li:hover {
	color: #000;
}

#l4_left_column {
	width: 20%;
	height: 284px;
	float: left;
	background-color: #999;
}

#l4_main_column {
	width: 80%;
	height: 284px;
	float: left;
	background-color: #CCC;
}

#l4_footer {
	width: 100%;
	height: 32px;
	float: left;
	background-color: #333;
}

/* Layout 5 */

#l5_wrapper {
	width: 75%;
	height: 418px;
	margin: auto;
	border: 1px solid #000;
}

#l5_header {
	width: 100%;
	height: 80px;
	background-color: #333;
}

#l5_menu_bar {
	width: 100%;
	height: 22px;
	float: left;
	background-color: #666;
}

#l5_menu_bar > ul {
	list-style-type:none; 
	margin:0; 
	padding:0;
	margin-top: 4px;
	margin-left: 80px;
}

#l5_menu_bar li {
	border:1px solid #ccc;
	background-color: #F60; 
	display:inline;
	height: 14px;
	font-size: 10px;
}

#l5_menu_bar li:hover {
	color: #000;
}

#l5_left_column {
	width: 20%;
	height: 284px;
	float: left;
	background-color: #999;
}

#l5_main_column {
	width: 60%;
	height: 284px;
	float: left;
	background-color: #CCC;
}

#l5_right_column {
	width: 20%;
	height: 284px;
	float: left;
	background-color: #999;
}

img[src="images/image_holder.png"] {
	margin-left: 15px;
	margin-top: 25px;
}

#l5_footer {
	width: 100%;
	height: 32px;
	float: left;
	background-color: #333;
}